---
import type { User } from '@supabase/supabase-js';
import Navbar from '@components/core/Navbar.astro';
import '@styles/global.css';

// 1. Propriedades
export interface Props {
  title: string;
  description: string;
}
const { title, description } = Astro.props;

// 2. Obter o usuário do Middleware
// O 'Astro.locals.user' foi definido em src/middleware.ts
const user = Astro.locals.user as User | null;
---

<!doctype html>
<html lang="pt-BR">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <title>{title}</title>
    <meta name="description" content={description} />
  </head>
  <body>
    <Navbar user={user} />
    <main>
      <slot />
    </main>
  </body>
</html>